<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="A&T Logo" src="/src/ncat-stack-logo.png">
</div>
<!-- <h2>Select a file to encrypt</h2> -->
<hr>
<div class="bx--form-item">
  <strong class="bx--label">Select a file to encrypt</strong>
  <p class="bx--label-description">Only .txt files</p>
  <div class="bx-file" data-file>
    <label for="your-file-importer-id-here" class="bx--file-btn bx--btn bx--btn--secondary" role="button" tabindex="0"> Add
      files
    </label>
    <input type="file" class="bx--file-input" id="your-file-importer-id-here" data-file-uploader data-target="[data-file-container]"
      multiple />
    <div data-file-container class="bx--file-container"></div>
  </div>
</div>