<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="A&T Logo" src="/src/ncat-stack-logo.png">
</div>
<hr>
<div>
  <h2>Enter in the Password</h2>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Password</label>
  </span>
</div>
<div>
  <h2>Select a file to encrypt</h2>
  <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="text/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>

</div>